.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 0;

  &__div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 0;
  }
}